<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <h1><%= title %></h1>

    <% if (locals.user && locals.user.member) {%>
      <p>You are already a member!</p>

      <p>Enter the password to become admin to be able to delete posts.</p>
      <form action="/admin" method="POST">

        <p class="input-container">
          <label class="input-label" for="password">Password:</label>
          <input lass="input-field" id="password" name="password" type="password" />
        </p>
        
        <button type="submit">Authorise</button>
      </form>
      <br>
      <a href="/">Back to Home</a>

    <% } else if (locals.user) {%>
      <%- include("../partials/errors.ejs") %>

      <p>Enter the password to join the club</p>
      <form action="/join" method="POST">

        <p class="input-container">
          <label class="input-label" for="password">Password:</label>
          <input lass="input-field" id="password" name="password" type="password" />
        </p>
        
        <button type="submit">Join</button>
      </form>
      <a href="/">Back to Home</a>

    <% } else { %>
      <p>You need to log-in to join the club.</p>
      <br>
      <a href="/">Log In</a>
    <%}%>
  </body>
</html>
